@import "../var";

@media (max-width: $desktop-breakpoint - 1px) {
  .is-extended{
    & .banner--cta:before{
      transform: rotate(45deg);
      margin-top: 0;
    }

    & .banner--cta:after {
      transform: rotate(-45deg);
      margin-top: 0;
    }

    & .nav{
      bottom: 60px;
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  .is-extended{
    &.container{
      grid: 100%/200px calc(100% - 200px);
    }

    &.header{
      width: 200px;

      & p.v-enter-active, & p.v-leave-active{
        transform: translateX(0);
        opacity: 1;
      }
    }

    & .banner--cta:before{
      rotate: -20deg;
    }

    & .banner--cta:after {
      rotate: 20deg;
    }

  }
}