@use "extended";
@import "../var";

.header{
  background-color: $header-background;
  overflow: hidden;

  @media (min-width: $desktop-breakpoint) {
    display: grid;

    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
    row-gap: 3rem;

    padding: 2rem 1.5rem;
    border-radius: 0 20px 20px 0;

    transition: width 250ms;
  }
}

.banner{
  @media (max-width: $desktop-breakpoint - 1px) {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;

    width: 100%;
    height: 60px;
    padding: 1rem;
    background-color: $header-background;

    display: flex;
    justify-content: space-between;
  }

}

.banner--cta{
  //@media (max-width: $desktop-breakpoint - 1px) {
    position: relative;
    font-size: 0;
    text-indent: -9999px;
    width: 20%;
    order: 2;

    &:before, &:after{
      content: '';
      display: block;

      position: absolute;
      top: 50%;
      right: 0;
      width: 2rem;
      height: 2px;

      background-color: white;

      transition: margin-top 200ms, transform 200ms;
    }

    &:before{
      margin-top: -0.3rem;
    }

    &:after{
      margin-top: 0.3rem;
    }

  &.mobile{
    display: block;
  }

  &.desktop{
    display: none;
  }
  //}

  @media (min-width: $desktop-breakpoint) {
    //width: 100%;
    height: 4rem;

    &:before, &:after{
      transition: rotate 200ms;
    }

    &:before{
      margin-top: -0.3rem;
      rotate: 20deg;
    }

    &:after{
      margin-top: 0.3rem;
      rotate: -20deg;
    }

    &.mobile{
      display: none;
    }

    &.desktop{
      display: block;
    }
  }


}

.nav{
  display: flex;
  gap: 1.5rem;
  flex-direction: column;

  @media (max-width: $desktop-breakpoint - 1px) {
    position: fixed;
    bottom: calc(-100% - 60px);
    right: 0;
    z-index: 8;

    background-color: $header-background;
    border-radius: 20px 20px 0 0;
    width: 100%;
    padding: 2rem;
    overflow: clip;

    transition: bottom 250ms ease-in;
  }

  //@media (min-width: $desktop-breakpoint) {
  //  display: grid;
  //  grid: auto / 1fr 1fr
  //}
}

.nav__item{
  //Equivalent to fill="#5A698F"
  filter: invert(43%) sepia(37%) saturate(422%) hue-rotate(185deg) brightness(87%) contrast(89%);

  display: flex;
  gap: 0 2rem;
  text-decoration: none;

  @media (min-width: $desktop-breakpoint) {
    transition: 250ms;
    display: grid;
    grid-template-columns: 32px auto;
  }

  &.is-active{
    filter: $filter-white;
  }

  &:hover:not(.is-active){
    filter: $filter-red;
    transition: 250ms;
  }

  & img {
    justify-self: center;
  }

}