{% extends 'account/base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('resetRequestPassword') }}
{% endblock %}
