{% extends 'account/base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <form action="{{ path(app.current_route) }}" method="post" class="form-auth">
        <h1>Reset your password</h1>

        <div class="form-auth__input" >
            {% for password in resetForm.plainPassword %}
                {{ component('inputField', {type: 'password', field: password}) }}
            {% endfor %}

            {{ form_rest(resetForm) }}
        </div>

        <div class="form-auth__cta">
            <button class="btn btn-primary">Reset password</button>
        </div>

    </form>
{% endblock %}
