@import "var";

input{
  width: 100%;
  color: $content-color;
  font-size: 1rem;
}

input[type='email'], input[type='password']{
  outline-style: none;
  box-shadow: none;
  border-bottom: 1px solid $secondary-color;

  padding: 0 1rem 1.2rem 1rem;

  &:focus{
    border-color: #FFFFFF;
  }
}

input[type='email']:focus + .form-auth__field-error{
  display: none;
}

input[type='password']:not(:placeholder-shown) + .form-auth__field-error{
  display: none;
}

input.empty:invalid {
  border-color: $theme-color;
  position: relative;
}

.form-auth__field-error{
  position: absolute;
  display: inline-block;
  right: 1rem;
  text-align: end;

  font-size: 0.8rem;
  color: $theme-color;
}

//Css section for search form
.form-filter{
  display: flex;
  gap: 1.5rem;
}

input[type='search']{
  //width: 100%;
  //color: $content-color;
  //font-size: 1rem;

  &:focus{
    outline-style: none;
    box-shadow: none;
    border-bottom: 1px solid $secondary-color;
  }

  @media (min-width: $tablet-breakpoint){
    font-size: 1.5rem ;
  }
}

//Css section for auth form
.form, .form-auth {
  align-self: start;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;

  @media (max-width: $tablet-breakpoint - 1px) {
    width: 100%;
  }
}

.form {
  margin: 1.5rem 0 0 0;

  & .btn {
    @media (min-width: $desktop-breakpoint) {
      width: 400px;
    }
  }
}

.form-auth{
  gap: 2.5rem;

  background-color: $header-background;
  border-radius: 20px;

  @media (max-width: $tablet-breakpoint - 1px) {
    padding: 1.5rem;
  }

  @media (min-width: $tablet-breakpoint) {
    width: 400px;
    padding: 2rem;
  }

  &__input > .form-auth__field:not(:last-of-type), &__cta > :not(:last-child){
    margin-bottom: 1.5rem;
  }

  &__cta{
    text-align: center;
  }
}

.btn{
  width: 100%;
  padding: 1rem 0;
  border-radius: 6px;
  background-color: $theme-color;
  cursor: pointer;

  color: $content-color;

  transition: 200ms ease-in;

  &:hover{
    background-color: $content-color;
    color: $main-background;
  }
}

.cta{
  cursor: pointer;
  margin-left: 0.5rem;
  color: $theme-color;
  text-decoration: none;
}