@import "var";

.message{
  padding: 1rem;
  border-radius: 10px;
  color: white;

  &.error{
    background-color: red;
  }

  &.success{
    background-color: green;
  }

  &.notification{
    background-color: #9b9b4c;

    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
}