@use "form";
@use "auth";
@use "demo";
@use "message";
@use 'sidebar';
@use "video_content";
@import "var";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

* , *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: $main-background;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    color: $content-color;
}

img{
    max-width: 100%;
}

button, input{
    border: 0;
    background-color: transparent;
}

#app{
    height: 100%;
}

.container-auth{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 4fr;
    align-items: center;
    justify-items: center;

    padding: 1.5rem;
}

.content{
   padding: 1.5rem 1rem;

    @media (max-width: $desktop-breakpoint - 1) {
        position: absolute;
        width: 100%;
        padding-bottom: calc(60px + 2.5rem);
    }

    @media (min-width: $desktop-breakpoint) {
        padding: 2rem;
        margin-left: calc(80px + 2rem);

        transition: margin-left 250ms;
    }

    & > :not(:last-child){
        margin-bottom: 1.5rem;
    }

}

.img-avatar{
    width: 24px;
    height: 24px;

    @media (min-width: 450px) and (max-width: $desktop-breakpoint - 1px) {
        width: 32px;
        height: 32px;
    }

    @media (min-width: $desktop-breakpoint) {
        width: 40px;
        height: 40px;
    }
}

.title{
    font-weight: 300;

    @media (max-width: $tablet-breakpoint - 1px) {
        font-size: 1.25rem;
    }

    @media (min-width: $tablet-breakpoint) {
        font-size: 2rem;
    }
}

.mobile{
    display: block;

    @media (min-width: $desktop-breakpoint) {
        display: none;
    }
}

.desktop{
    display: none;

    @media (min-width: $desktop-breakpoint) {
        display: block;
    }
}





