@use "form";
@use "panel";
@use "auth";
@use "demo";
@use "message";
@use 'sidebar';
@import "var";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

* , *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: $main-background;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    color: $content-color;
}

img{
    max-width: 100%;
}

button, input{
    border: 0;
    background-color: transparent;
}

#app{
    height: 100%;
}

.container{
    @media (min-width: $desktop-breakpoint) {
        display: grid;
        grid: 100% / 80px calc(100% - 80px);
        column-gap: 2.5rem;

        height: 100%;
        transition: 250ms ease;
    }

    &-auth{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr;
        align-items: center;
        justify-items: center;

        padding: 1.5rem;
    }
}


.content{
   padding: 1.5rem 1rem;

    @media (max-width: $desktop-breakpoint - 1) {
        position: absolute;
        width: 100%;
    }

    @media (min-width: $desktop-breakpoint) {
        padding: 2rem 0;
        overflow-y: scroll;
    }

    & > :not(:last-child){
        margin-bottom: 1.5rem;
    }

}

.img-avatar{
    width: 24px;
    height: 24px;

    @media (min-width: 450px) and (max-width: $desktop-breakpoint - 1px) {
        width: 32px;
        height: 32px;
    }

    @media (min-width: $desktop-breakpoint) {
        width: 40px;
        height: 40px;
    }
}

.title{
    font-weight: 300;

    @media (max-width: $tablet-breakpoint - 1px) {
        font-size: 1.25rem;
    }

    @media (min-width: $tablet-breakpoint) {
        font-size: 2rem;
    }
}





