@use "form";
@use "panel";
@use "auth";
@use "demo";
@use "message";
@import "var";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

* , *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    background-color: $main-background;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    color: $content-color;
}

img{
    max-width: 100%;
}

button, input{
    border: 0;
    background-color: transparent;
}

.container{
    @media (min-width: $desktop-breakpoint) {
        padding: 2rem;
    }

    &-auth{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr;
        align-items: center;
        justify-items: center;

        padding: 1.5rem;
    }
}

.content{
   padding: 1.5rem 1rem;

    @media (max-width: $desktop-breakpoint - 1) {
        position: absolute;
        width: 100%;
        top: 68px;
    }

    @media (min-width: $desktop-breakpoint) {
        padding: 2rem 0;
        margin: 0 0 0 calc(96px + 3rem);
    }

    & > :not(:last-child){
        margin-bottom: 1.5rem;
    }

}
.header{
    background-color: $header-background;
    display: grid;
    justify-items: center;
    position: fixed;

    @media (max-width: $desktop-breakpoint - 1px) {
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        padding: 1rem;

        align-items: center;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto;
    }

    @media (min-width: $desktop-breakpoint) {
        padding: 2rem 1.5rem;
        border-radius: 20px;
        width: 96px;
        height: calc(100% - 4rem);

        grid-template-rows: auto 1fr auto;
        grid-template-columns: auto;
        row-gap: 3rem;
    }
}

.nav{
    display: flex;
    align-items: center;
    gap: 1.5rem;

    @media (min-width: $desktop-breakpoint) {
        flex-direction: column;
    }
}

.img-avatar{
    width: 24px;
    height: 24px;

    @media (min-width: 450px) and (max-width: $desktop-breakpoint - 1px) {
        width: 32px;
        height: 32px;
    }

    @media (min-width: $desktop-breakpoint) {
        width: 40px;
        height: 40px;
    }
}


.nav__item{
    //Equivalent to fill="#5A698F"
    filter: invert(43%) sepia(37%) saturate(422%) hue-rotate(185deg) brightness(87%) contrast(89%);
    transition: 250ms;

    &.is-active{
        filter: panel.$filter-white;
    }

    &:hover:not(.is-active){
        filter: panel.$filter-red;
        transition: 250ms;
    }
}

.title{
    font-weight: 300;

    @media (max-width: $tablet-breakpoint - 1px) {
        font-size: 1.25rem;
    }

    @media (min-width: $tablet-breakpoint) {
        font-size: 2rem;
    }
}





