{% extends 'authentication/base.html.twig' %}

{% block form %}
    <form action="{{ path(app.current_route) }}" method="post" class="form-auth" novalidate>
        <h1>Sign Up</h1>
        <div class="form-auth__input" >
            <div class="form-auth__field">
                <input type="email" placeholder="Email address" name="email" id="email" required />
            </div>
            <div class="form-auth__field">
                <input class="empty" type="password" placeholder="Password" name="password" id="password" required />
                <span></span>
            </div>
            <div class="form-auth__field">
                <input type="password" placeholder="Repeat password" name="confirmation" id="confirmation" required />
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </div>
        <div class="form-auth__cta">
            <button class="btn">Create an account</button>
            <p>Already have an account? <a class="nav-cta" href="{{ path('app_auth_login') }}">Login</a></p>
        </div>
    </form>
{% endblock %}