{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Homepage
{% endblock %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        window.currentCategory = null
    </script>

    {{ encore_entry_script_tags('videos') }}
{% endblock %}