{% extends 'base.html.twig' %}

{% set url = app.current_route_parameters ? path(app.current_route, { slug }) : path(app.current_route) %}

{% block search %}
        <form action="{{ url }}" method="post" class="form-filter">
        <button type="submit"><img src="{{ asset('build/images/icon-search.svg') }}" alt="Search"></button>
        <input type="search" id="filter" name="filter" value="{{ searchTerm }}">
    </form>
{% endblock %}


{% block body %}
    {{ component('videoList', { title: textResult, videos}) }}
{% endblock %}