@import "../var";

@media (max-width: $tablet-breakpoint - 1px) {
  :root {
    --width-thumbnail: 164px;
    --height-thumbnail: 110px;

    --width-thumbnail-trending: 240px;
    --height-thumbnail-trending: 140px;
  }
}

@media (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint - 1px) {
  :root{
    --width-thumbnail: 220px;
    --height-thumbnail: 150px;

    --width-thumbnail-trending: 470px;
    --height-thumbnail-trending: 230px;
  }
}

@media (min-width: $desktop-breakpoint ) {
  :root{
    --width-thumbnail: 280px;
    --height-thumbnail: 174px;

    --width-thumbnail-trending: 470px;
    --height-thumbnail-trending: 230px;
  }
}

.list:not(.is-trending){
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--width-thumbnail));
  justify-content: space-between;
  column-gap: 1.5rem;
  row-gap: 2rem;
}

.is-trending{
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;

  //Remove the scrollbar
  &::-webkit-scrollbar{
    display: none;
  }

  & > .thumbnail {
    display: inline-block;
  }

  & > .thumbnail:not(:last-child){
      margin-right: 1rem;
  }

  //Resize the width and the height for the trending section
  & .thumbnail__image {
    width: var(--width-thumbnail-trending);
    height: var(--height-thumbnail-trending);
  }

  //Put the description on the image with a fade background to aid the reading
  & .thumbnail__description{
    width: 100%;
    padding: 0.5rem;
    border-radius: 0 0 10px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $secondary-color-low-opacity;
  }

  & .thumbnail__description-title {
    font-size: 1rem;

    @media (min-width: $tablet-breakpoint) {
      font-size: 1.5rem;
    }
  }
}

.thumbnail{
  position: relative;
}

.thumbnail__image{
  border-radius: 10px;

  width: var(--width-thumbnail);
  height: var(--height-thumbnail);
}

.thumbnail__bookmark{
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  z-index: 5;

  background-color: $main-background;
  border-radius: 50%;
  padding: 0.5rem;
  width: 32px;
  aspect-ratio: 1 / 1;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  stroke-width: 2px;
  transition: background-color 250ms;

  &.is-active{
    fill: $content-color;
  }

  &:not(.is-active){
    stroke: $content-color;
    fill: none;
  }

  &:hover:not(.is-active){
    fill: $content-color;
    background-color: $content-color;
    stroke: $main-background;
    transition: background-color 250ms;
  }

  & > * {
    pointer-events: none;
  }
}

.thumbnail__description{
  &-information{
    font-size: 0.8rem;
    hyphens: auto;
    -webkit-hyphens: auto;

    opacity: 0.75;

    & > .category:after, & > .category:before{
      display: inline-block;
      content: ' ';
      width: 3px;
      aspect-ratio: 1 / 1;
      background-color: $content-color;
      opacity: 0.75;
      border-radius: 50%;
      margin: 0.25rem 0.35rem;

    }

    & img {
      filter: $filter-white;
      width: 0.75rem;
      aspect-ratio: 1 / 1;
    }
  }

  &-title {
    font-size: 0.8rem;
    font-weight: 500;

    @media (min-width: $tablet-breakpoint) {
      font-size: 1.2rem;
    }
  }
}